.contain {

    justify-content: center;
    flex-direction: column;
    margin: 10px 10px 10px 40%;
}

.input {
    border-radius: 10px;
}

.search {

    height: 35px;
    width: 15%;
    font-size: 15px;
    color: white;
    cursor: pointer;
    background-color: brown;
    margin-left: 5%;
    border-radius: 10px;
}
.button{
    height: 35px;
    color: white;
    cursor: pointer;
    background-color: brown;
  
    border-radius: 10px;
}