body {
    background-image: url("../../assets/fondo_home.png");
    background-size: cover;
}

.contain { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid black;
    border-radius: 5px;
    background: #474647;
    max-width: 800px;
    margin: auto; 
    color: white;
}

.portada {
    
    object-fit: cover;
}

.button {

    background-color: rgb(247, 199, 103);
    margin:5% 0% 5% 40%;
    width: 100px;
    height: 50px;
   
}

.button:hover{
    cursor:pointer;
}