body {
    justify-content: center;
    align-items: center;
    display: flex;
  }

.contain {
    background-color: antiquewhite;
    position: relative;
 
 
    overflow: hidden;


}


.input {
    height: 35px;
    width: 98%;
    font-size: 25px;
    font-family: inherit;
}

.formulario {

    padding: auto;
    background-color: rgb(255, 145, 0);


}

.button {
    
    background: rgb(148, 243, 4);
    font-size: large;
    color: black;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 35px;
    margin-top: 20px;
    cursor: pointer;
    margin-left:40%
}


.labels {
    font-size: 20px;
    display: block;
    font-weight: bold;
    font-style: italic;
    margin-block: 15px;
    margin-left:40%
}